/** @format */

#bookshelfContainer {
  background-image: url(bookshelf.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 900px;
  height: 800px;
  width: 1000px;
  background-color: blue;
}

#bookContainer1 {
  height: 150px;
  width: 800px;
  position: relative;
  left: 150px;
  top: 120px;
  display: flex;
}
#bookContainer2 {
  height: 150px;
  width: 800px;
  position: relative;
  left: 150px;
  top: 180px;
  display: flex;
}

#bookContainer3 {
  height: 150px;
  width: 800px;
  position: relative;
  left: 150px;
  top: 240px;
  display: flex;
}
#book {
  width: 20%;
  height: 100%;
  background-color: cornsilk;
  margin-right: 30px;
}
